/* CSS Document */
button, input[type="submit"]
  {
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    height: 25px;
    size: 15px ;
    text-shadow: 1px 1px 5px rgb(255,255,255);
    transition:All 0.2s linear;
    -webkit-transition:All 0.2s linear;
    -moz-transition:All 0.2s linear;
    -o-transition:All 0.2s linear;
  }
  
button:hover, input[type="submit"]:hover
  {
    color: rgb(0,0,0);
    background-color: rgb(167,167,167);
    transition:All 0.5s ease;
    -webkit-transition:All 0.5s ease;
    -moz-transition:All 0.5s ease;
    -o-transition:All 0.5s ease;
  }
  
#telo
  {
    width: 1250px;
    background-color: rgb(0,0,0);
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -625px;
    color: rgb(255,255,255);  
  }
  
#novinkycz
  {
    width: 300px;
    min-height: 250px;
    background-color: rgb(233,233,233);
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px ;
  }
  
#novinkycz a
  {
    color: rgb(153,102,0);
    padding: 10px ;
    text-decoration: none;
    display: block;
  }

#novinkycz a:hover
  {
    color: rgb(204,51,0);
    text-decoration: underline;
    display: block;
  }
    
.zpet
  {
    text-align: center;
    size: 50px ;
    background-color: rgb(168,168,168);
    color: rgb(102,0,0);
    text-decoration: none;
    display: block;
    width: 870px;
    padding: 15px ;
    transition:All 2s ease;
    -webkit-transition:All 2s ease;
    -moz-transition:All 2s ease;
    -o-transition:All 2s ease;
  } 
  
.zpet:hover, nav a:hover
  {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: rgb(255,204,0);
    background-color: rgb(153,0,0);
    transition:All 1s ease;
    -webkit-transition:All 1s ease;
    -moz-transition:All 1s ease;
    -o-transition:All 1s ease;
  }
        
nav
  {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 250px;
    background-color: rgb(80,80,80);
  }
  
nav p
  {
    margin: 0;
    padding: 0;
  }

nav a
  {
    cursor: pointer;
    float: left;
    border-radius: 10px;
    text-align: center;
    display: block;
    size: 25px;
    width: 300px;
    padding: 10px ;  
    margin: 10px ;
    font-weight: 800;
    color: rgb(0,0,0);
    background-color: rgb(200,200,200);
  }
  
nav form
  {
    clear: left;
  } 
  
nav #Registrovat, nav #Zapheslo
  {
    display: none;
  }
   
nav #vytvoritClanek
  {
    display: none;
  }
  
nav #vytvoritClanek input
  {
    float: left;
  }
     
nav #vytvoritClanek textarea
  {
    clear: left;
    width: 600px;
    position: relative;
    top: 30px;
    left: -500px;
  }
  
.clanek
  {
    width: 900px;
    background-color: rgb(220,220,220);
    margin-bottom: 50px;
  } 

.clanek .title
  {
    text-align: center;
  }
  
.clanek .title h3, .clanek .title h2, .clanek h1
  {
    margin: 5px;
    padding: 5px;
    clear: right; 
  }
  
.clanek .title h3, .clanek h1
  {
    float: right;
    font-size: 15px;
    font-weight: 400;
    color: rgb(103,103,103);
  }  

.clanek h1
  {
    float: none;
    text-align: right;
  }
  
.clanek .title h3:hover, .clanek h1:hover 
  {
    color: rgb(204,102,0);
    text-shadow: 0 0 2px rgb(0,0,0);
    
    cursor: hand;
  }
  

.clanek .title h2
  {
    text-align: center;
    font-size: 35px;
    text-shadow: 0 0 15px rgb(0,0,0);
  }
      
.clanek img
  {
    float: left;
  }

.clanek .title a, .komenty .title a, .komenty a
  {
    text-decoration: none;
    font-size: 25px; 
    font-weight: 800;
    display: block;
    color: rgb(255,150,0);
    text-shadow: 0 0 15px rgb(0,0,0);
  }
  
.clanek .title a:hover,  .komenty .title a:hover, .komenty a:hover
  { 
    text-decoration: underline;  
    color: rgb(102,0,0);
    cursor: pointer;    
  }
   
.clanek p, .clanek p a
  {
    text-decoration: none;
    margin-top: 15px;
    font-style: italic;
    text-align: left;
    word-wrap: break-word; 
    padding: 10px;
    text-shadow: 0 0 4px rgb(0,0,0);
    font-size: 17px;
    color: rgb(255,255,230);
  } 
   
.clanek p:hover, .clanek p a:hover
  {
    color: rgb(255,255,150);
    cursor: pointer;
  } 
   
.komenty
  {
    width: 880px;
    padding: 10px;
    background-color: rgb(180,180,180);
    border-collapse: collapse;
    border-bottom: 5px solid rgb(102,0,0);
    border-top: 5px solid rgb(102,0,0);
    border-left: 2px solid rgb(102,0,0);
    border-right: 2px solid rgb(102,0,0);
  }
  
.title-koment
  {
    float: none;
    clear: left;
    clear: right;
  }
    
.komenty h1, .komenty a
  {
    padding: 0;
    margin: 0;
    float: left;
    clear: left;
  }
  
.komenty h1
  {
    font-size: 20px;
    display: block;
  } 
     
.komenty h3
  {
    padding: 0;
    margin: 0;
    float: right;
    clear: right;
  }
  
.komenty p
  {
    padding: 0;
    margin: 0;
    clear: left;
    float: none;
    width: 900px;
    text-align: left;
    word-wrap: break-word; 
    margin-bottom: 15px; 
  }
.EditKoment
  {
    display: none;
  }
.EditKoment textarea
  {
    width: 800px;
  }      
#PridatKoment
  {
    clear: left;
    clear: right;
    padding: 0;
    margin: 0;
    padding-top: 15px ;
    float: left;
    width: 900px;
    background-color: rgb(204,0,0);
  }
  
#PridatKoment input
  {
    height: 30px;
    width: 150px;
    float: left;
    clear: left;    
  }
  
#PridatKoment textarea
  {
    width: 850px;
  }  